.nav{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
   
}
.header{
    background-color: black;
    height: 100vh;
}
.nav-logo img{
    padding-top: 3rem;
    width: 40%;
}
.nav-item {
    display: flex;
    gap: 3rem;
}
.nav-item a{
    color: #ffffff;
    text-decoration: none;
    transition: 1s;
    padding-top: 3rem;
}
.nav-item a:hover{
    color: #2a008b;
    transition: 1s;
}
.item-header{
    display: grid;
    justify-content: center;
    padding-top: 8rem;
}
.item-header h1{
    color: #ffffff;
    font-size: 54px;
    
}
.btn{
    padding-top: 3rem;
}
.btn button{
    color: #fff;
    font-size: 24px;
    background-color: #3c00c6;
    height: 7vh;
    width: 30%;
}


.section-item{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 8rem;

}

.cards:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.409), 0 10px 10px rgba(0, 0, 0, 0.422);
   
}
.text-item{
    display: grid;
    justify-content: center;
    text-align: center;
}
.text-item h1{
    font-size: 58px;
}
.text-item p{
    font-size: 33px;
    color: #000000ce;
}

.direction{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.direction-text1 p{
    width: 500px;
}

.text-di{
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.btn-dir1{
    background-color: #3c00c6;
    width: 50%;
    height: 5vh;
    font-size: 24px;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-dir2{
    background-color: #ffffff;
    width: 40%;
    height: 5vh;
    font-size: 20px;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
}





.learning{
    height: 120vh;
}

.learntext{
    display: grid;
    justify-content: center;
    text-align: center;
}

.learntext h1{
    font-size: 58px;
}

.learntext p{
    font-size: 34px;
}
.learning p{
    font-size: 34px;
    text-align: center;
}


.learntext2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.inner-text-learn p{
    font-size: 24px;
    width: 300px;
}
.inner-text-learn h1{
    color: blue;
    cursor: pointer;
}


.Joinatanystage{
    height: 100vh;
    position: relative;
    background-color: #ffffff;
}

.Joinatanystage h1{
    font-size: 58px;
    color: #000000;
}
.Joinatanystage p{
    font-size: 40px;
    color: #000000;
}
.join{
    display: grid;
    justify-content: center;
    text-align: center;
}
.btnjoin{
    padding: 20px 80px;
    background-color: blue;
    position: absolute;
    color: #fff;
    
    font-size: 24px;
}





.bnn button{
    padding: 20px 40px ;
    background-color: #4c00ff;
    color: #fff;
}

.bnn button:hover{
    background-color: #ff0000da;
    color: #ffffff;
}




.metods{
    text-align: center;
}


.learnmetods{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bttn button{
    padding: 20px 40px ;
    background-color: #4c00ff;
    color: #fff;

}

.bttn button:hover{
    background-color: #ff0000da;
    color: #ffffff;
}
.price{
    height: 100vh;
    text-align: center;
    padding-top: 6rem;
    line-height: 5rem;
}
.aaa h1{
    font-size: 45px;
}
.aaa h2{
    font-size: 44px;
}
.aaa h3{
    font-size: 34px;
}


.otzyv{
    height: 100vh;
}

.sad{
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.ot h1{
    font-size: 54px;
    padding-top: 5rem;
    text-align: center;
}
.questions{
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.788);
}
.questions h1{
    font-size: 54px;
    text-align: center;
}

.acordion{
    width: 800px;
    position: absolute;
    left: 35rem;
}
.footer{
    height: 70vh;
}
.footer h1{
    text-align: center;
    font-size: 54px;
}

.fo{
    display: grid;
}
.fo h2{
    font-size: 40px;
}
.fo a{
    font-size: 25px;
    text-decoration: none;
    color: #3300a9bd;
}
.fot{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

.fotes{
    display: flex;
    background-color: #000000;
    padding-top: 6rem;
    color: #fff;
    height: 40vh;
    justify-content: space-evenly;
}

.fotes h2{
    font-size: 35px;
}
.fotes p{
        font-size: 23px;
}

.svgs svg{
    width: 35px;
    height: 10%;
    transition: 0.3s;
}
.svgs svg:hover{
    color: #c30000ce;
    transition: 0.3s;
}
.svgs {
    text-align: center;
}